<!doctype html>
<html>
  <head>
    <title>Fetch Weather</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Fetch Weather</h1>
    <form method="POST" action="postweather">
        <p>City: <input id="usercity" type="text" name="usercity"/></p>
        <input type="submit" value="Send" />
      </form>
  </body>
</html>